# library

In [1]:
from src.models.classification.models import Model
from src.base import BasePiepline
from src.utils.data_preprocessing import DataPreprocessing
from src.utils.manage_pkl_files import get_best_params
from src.utils.set_seed import seed_everything

SEED = 42 # NOTE: 시드 값 설정
seed_everything(SEED)

### 전처리 클래스 상속 예시

In [19]:
from data.load import Data

class AdvancePreprocessing(DataPreprocessing):
    def __init__(self, df):
        super().__init__(df)


    def step_four_method(self):
        print("step_four method 추가")
        print("step_four method 실행")
        self.df["추가필드"] = 1
        print("step_four method 종료")

model_process = ModelProcess()
model_process.preprocessing(Data.train)

step_four method 추가
step_four method 실행
step_four method 종료

,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급,상환개월,남은대출금액,추가필드
0,12480000,0,6,3,4,18.90,15,0,0,0,0.0,0.0,0.0,C,0,12480000.0,1
1,14400000,1,10,1,8,22.33,21,1,0,373572,234060.0,0.0,0.0,B,2,13792368.0,1
2,12000000,0,5,1,6,8.60,14,0,0,928644,151944.0,0.0,0.0,A,3,10919412.0,1
3,14400000,0,8,1,8,15.09,15,0,0,325824,153108.0,0.0,0.0,C,1,13921068.0,1
4,18000000,1,-1,3,4,25.39,19,2,0,228540,148956.0,0.0,0.0,B,1,17622504.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,14400000,0,10,1,9,9.33,33,6,0,974580,492168.0,0.0,0.0,C,2,12933252.0,1
96290,28800000,1,10,1,8,5.16,25,1,0,583728,855084.0,0.0,0.0,E,1,27361188.0,1
96291,14400000,0,1,1,5,11.24,22,6,0,1489128,241236.0,0.0,0.0,A,4,12669636.0,1
96292,15600000,0,5,1,3,17.30,21,0,2,1378368,818076.0,0.0,0.0,D,3,13403556.0,1
96293,8640000,0,10,3,1,11.80,14,6,0,596148,274956.0,0.0,0.0,C,2,7768896.0,1

In [20]:
class ModelProcess(BasePiepline):
    def __init__(self):
        super().__init__()

    def preprocessing(self, df):
        # NOTE: 전처리 함수 추가 원할시 상속 받아서 적용 후 상속 받은 클래스 호출
        # preprocessing = AdvancePreprocessing(df)
        preprocessing = DataPreprocessing(df)

        return preprocessing()

### 분류 모델 클래스 및 파이프라인 선언

In [9]:
model = Model()
model_process = ModelProcess()

### 최적화 파라미터 값 가져오기

In [6]:
params = get_best_params()

### 모델 파라미터 적용

In [7]:
_model = model.xgboost.set_params(**params)

### 스코어 확인

In [ ]:
model_process.train_score(_model)

### 전체 실행(서브밋 단계 까지)

In [ ]:
model_process.run(_model)